
*{
    font-family: 'Josefin Sans', sans-serif;

}
.fullpage{
    position: relative;
}
/* .navbar{
    width: 99vw;
    position: absolute;
    z-index: 15;
    height: 64px;
    background-color: #3366ff;
    
    box-shadow: 0px 3px 3px -2px rgba(17, 8, 8, 0.2),
		0px 3px 4px 0px rgb(0 0 0 / 14%), 0px 1px 8px 0px rgb(0 0 0 / 12%);
} */

.body{
    display: flex;
    margin-left: -10px;
    
}
.sidebar{
    z-index: 10;
    width: 280px;
    min-height: 100vh;
    box-shadow: 5px 5px 5px rgb(68 68 68 / 0.6);
    /* box-shadow:  1200px 0 0 5 rgba(17, 8, 8, 0.2); */
    
    
    
}
.sidebardata{
    margin-top: 70px;
}

/* .data{
    margin-left: 10px;
    background-color: #f0f2f8;
    width: 85vw;
    
} */

.SidebarList{
    margin-top: 40%;
}

.homepage{
    margin-left: 50px;
    margin-top: 500px;
}

/* .MedicineAvailability{
    margin-top: 500px;
    width: 50px;
    height: 50px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 14px 28px, rgba(0, 0, 0, 0.22) 0px 10px 10px;
} */

.row{
    margin-left: 10%;
    display: flex;
    top: 500px;
    margin-top: 20px;
    height: 40px;
    width: 240px;
    padding-top: 5%;
    /* font-size: 0.875rem; */
    font-size: large;
    font-family: 'Josefin Sans', sans-serif;

    font-weight: 500;
    line-height: 1.643em;

}
.row:hover{
    background-color: #e3f2fd;
    color: #386aff;
}

.sidebardata  #active{
    background-color: #e3f2fd;
    color: #386aff;    
}


.data{
    z-index: 5;
    
    width: 1250px;
    /* width: 98vw; */
    background-color: #f0f2f8;
}
#icon{
    margin-left: 20px;
    margin-right: 20px;
}