.DNavDashfeature{
    margin-top: 45px;
    margin-left: -90px;
}
.DAddress{
    width: 210px;
    margin-top: 20px;
    margin-left: 45px;
}
.DAddWidth{
    width: 250px;
}
.DSalary{
    margin-left: 75px;
    margin-top: 20px;
}