 /* .Ddata{
    margin-left: 40px;
    margin-top: 40px;
    width: 1200px;
    height: 579px;
    border: 1px solid black;

}  */
 .Ddata{
    position: fixed;
    margin-left: 40px;
    margin-top: 40px;
    width: 1200px;
    height: 579px;
    background-color: white;
    
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
} 
.DCstatus{
    margin-top: 2%;
    margin-left: 2%
}
.DStatus{
    margin-top: 20px;
    margin-left: 20px;
}
.LC{
    width: 260px;
}
#LApprove{
    font-size: 25px;
    color: #07bc0c;
    margin-right: 20px;
}
#LDecline{
    font-size: 25px;
    margin-right: 20px;
    color: red;
}
.PSendP{
    margin-left: 60px;
    margin-top: 45px;
}
#LPending{
    color:yellow;
    font-size: 25px;
    margin-right: 20px;
    height: 20px;
    width: 20px;
}