.MainDiv{
   
    max-width: 100vw;
}
.MainOutDiv{
    border-radius: 1%;
    display: flex;
    margin: 40px 20px 20px 50px;
    width: 500px;
    height: 275px;
    background-color: white;
    /* box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px; */
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}
.MainOutDiv:hover{
        box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

}
.PRightData{
    margin-left: 50px;
}
.PDimg{
    border-radius:100% ;
    width: 200px;
    height: 200px;
}
.PDimg:hover{
    transform: scale(1.1);
}
.Dimg{
    margin-left: 5%;
    margin-top: 5%;
}
.Dname{
    margin-top: 20%;
}
.Dspeciality{
    margin-top: 10%;
    margin-bottom: 10%;
}
.DFee{
    margin-bottom:10% ;
}
.PBtn{
    margin-top: 4%;
    border: none;
    background-color: #3366ff;
    color: white;
    width: 120px;
    height: 50px;
}
.PBtn:hover{
    transform: scale(0.8);
}